<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="profile.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="banner">
                <div class="logo">
                    <a href="/main"><img class="coconut" src="/images/coconut.png" alt="logo"></a>
                </div>
                <nav class="navigation">
                    <a class="navigation__chapter" href="/my">My music</a>
                    <a class="navigation__chapter" href="/subscription">Subscription</a>
                    <a class="navigation__chapter" href="/add">Add song</a>
                    <a class="navigation__chapter" href="/profile">Profile</a>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <h1 id="h1">Profile</h1>
            <div class="information">
                <% data.forEach(entry=> { %>
                    <table class="table">

                        <tr>
                            <th>Name</th>
                            <td>
                                <%= entry.name %>
                            </td>
                        </tr>
                        <tr>
                            <th>Surname</th>
                            <td>
                                <%= entry.surname %>
                            </td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>
                                <%= entry.username %>
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>
                                <%= entry.email %>
                            </td>
                        </tr>
                        <tr>
                            <th>Birthday</th>
                            <td class="date">
                                <%= entry.birthday %>
                            </td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>
                                <%= entry.country %>
                            </td>
                        </tr>

                    </table>
                    <form action="/logout" method="GET">
                        <button class="button color">Log out</button>
                    </form>
                    <%})%>

            </div>
        </div>
    </main>

    <script>
        const newDates = document.getElementsByClassName('date')
        for (let i = 0; i < newDates.length; i++) {
            console.log(new Date(newDates[i].innerHTML))
            newDates[i].innerHTML = new Date((newDates[i].innerHTML)).toLocaleDateString()
        }
    </script>
</body>

</html>